.bg-1, .bg-2, .bg-3
{
	padding-bottom: 1em;
	padding-top: 1em;
}

.bg-1, .bg-3
{
	color: #ffffff;
}

.bg-1
{
	background-color: #27334b;	
}

.bg-2
{
	background-color : #c8c8c8;
}

.bg-3
{
	background-color : #f4a460;
}

.bg-4
{
	background-color: #ebebeb;
}

.section-title
{
	position: relative;
	top : 40%;
	width: 100%;
}


.big-section
{
	padding : 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.col, .col-sm-4, .col-sm-8
{
	padding: 3em;
}

#MyPhoto
{
	width: 200px;
	height: 260px;
}

.language-logo
{
	width: 150px;
	height: 150px;
}


.btn
{
	color: #ffffff;
	background-color: #f4a460;
}

.btn-block
{
	color: #ffffff;
	background-color: #27334b;
}

.form
{
	padding: 5em;
}

.label-form
{
	font-size: 150%;
}

.form .btn
{
	color: #ffffff;
	background-color: #27334b;
}

.form .btn-block
{
	color: #ffffff;
	background-color: #27334b;
}

#top
{
	position: fixed;
	z-index: 100;
	float: right;
	top: 90%;
	left: 95%;
}