<div class="container-fluid  bg-2 text-center row big-section transition" id="certifications">
    <div class="col bg-3">
        <h2 class="section-title">Mes Diplomes</h2>
    </div>

    <div class="col small-section">
            {% for certification in listCertifications %}
                <h4>{{certification.name}}</h4>
                <p class="lead">{{certification.place}} en {{certification.date}}</p>
                <p>{{certification.description}}</p>
                {% if certification.date != 2018 %}
                    <hr />
                {% endif %}
            {% endfor %}
    </div>
</div>